[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
rich = "*"
pint = "*"

[dev-packages]
pyright = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"
